
{{>nav-login}}

<div class="jumbotron">
  <h1 class="display-4">LISTA DE NOTAS DE {{userTK}}</h1>
  

<div class="row">
    {{#each notes}}
    <div class="col-md-6">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title">
                    {{title}} <a href="/notes/edit-note/{{_id}}"><i class="fas fa-edit "></i></a>
                </h4>
                <p>
                    {{description}}
                </p>

               <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
               <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-block btn-sm">
                    BORRAR
                </button>
                
                </form>
            </div>
        </div>
        <hr class="my-4">
    </div>




    {{else}}
    <div class="card mx-auto col-md-6">
        <div class="card-body">
            <p class="lead text-center">NO HAY NOTAS AÚN</p>
           
        </div>
    </div>
    {{/each}}
</div>

<div class="card mx-auto col-md-6">
        <div class="card-body">
            <a href="/notes/new-note" class="btn btn-success btn-block"> NUEVA NOTA</a>
        </div>
    </div>
</div>



